<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice - Amjad</h1>
         <h3>User stories:</h3>
         <ul>
           1) I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
        </ul>
        <ul>
        2) If it does, it returns both the Unix timestamp and the natural language form of that date.
        </ul>
        <ul>
        3) If it does not contain a date or Unix timestamp, it returns null for those properties.
        </ul>
        <div>
          <h1>
            Example usage:
          </h1>
          <code>https://steel-aries.glitch.me/December 15, 2015</code><br>
          <code>https://steel-aries.glitch.me/1450137600</code>
        </div>
        <div>
          <h1>
            Example output:
          </h1>
          <code> </code><br>
          <code> { "unix": 1450137600, "natural": "December 15, 2015" }</code>
        </div>

     </div>
   </body>
  <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
</html>
